[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = r2unit@proton.me
	name = Lorenzo Karel
[credential "https://git.nerdpitch.cloud"]
	helper = 
	helper = !tea login helper
